<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <script>
        // var myJson = ;


        

    </script>

    <h1>Senhor Barriga Pay</h1>
    <h3>Pague seu aluguel no conforto de seu Lar</h3>
    <form>
        <label>Metodo de Pagamento:</label>
        <select id="selection" name="mtdPagamento" id="cars">
            <option value="credito">Cartão de Credito</option>
            <option value="debito">Cartão de Debito</option>
            <option value="dinheiro">Dinheiro</option>
        </select>
        <label>Valor a Pagar:</label>
        <input type="number" />
        <input type="submit" />
    </form>
</body>

</html>